<h1>Liste des armes</h1>

<table class="highlight" *ngIf="armes && armes.length > 0">
  <tr>
    <th>Id</th>
    <th>Libellé</th>
    <th></th>
  </tr>
  <tr *ngFor="let arme of armes">
    <td>
      {{ arme.id }}
    </td>
    <td>
      {{ arme.libelle }}
    </td>
    <td>
      Des boutons :D
    </td>
  </tr>
</table>

<div *ngIf="! armes || armes.length == 0">
  <a class="btn-floating btn-large red pulse"><i class="material-icons">battery_alert</i></a>
  <i style="margin-left: 10px;">Aucune arme disponible</i>
</div>

